/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
    margin: 0;
padding: 0;
  font-family: "Poppins", sans-serif;
}

body{
    background-color:#f5f5f5;
}
header{
    height:33.25rem;
    background-color:#340fff;
}
nav{
    float:right;
    margin-right:2.5rem;
    margin-top: 0.9375rem;
    cursor: pointer;
}
.nav-item{
    margin-right: 1.25rem;
    color:#fff;
}
.btn1{
    background-color:#fff;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    color:#5a31fc;
    margin-right: 1.25rem;
    font-weight:400;
    font-size:1rem;
}
.logo{
    margin:1.25rem;
}
.header-text{
    color:#fff;
    margin-left:1.25rem; 
    margin-top: 2.1875rem;
    float:left;
    font-size:1.2rem;
}
.header-text p{
    font-size:0.9rem;
    margin-top: 0.625rem;
}

.companies{
    margin-top: 1.25rem;
    margin-left: 3.75rem;
}
.company-items{
    text-decoration: none;
    color:#000;
    font-weight:600;
    margin-left: 1.875rem;
    font-family:"Righteous",sans-serif;
}
.api-heading{
    font-weight: 800;
    margin-left: 5.625rem;
    margin-top: 6.25rem;
    font-style: bold;
}
.cards
{
    margin-left:5.625rem;
    margin-top: 1.25rem;
    display:flex
}
.card{
    width:20%;
    height:15.625rem;
    background-color: transparent;
    margin-right: 1.875rem;
}
.card-active{
   width:20%;
   height:15.625rem;
   background-color: #fff;
   margin-right: 1.875rem;
}
.card-active h3{
  font-size:1rem;
}
.card-active p{
  font-size:1rem;
}
.card h3{
  font-size:1rem;
}
.card p{
  font-size:1rem;
}
.blog-heading h1{
    margin-top: 1.875rem;
    margin-left:5.625rem;
    font-size: 1rem;
}
.blog-cards{
    margin-top: 1.875rem;
    margin-left:5.625rem;
    display:flex;
}

.blog-image2{
    margin-left: 2.5rem;
}
.blog-card{
    display:flex;
}
.blog-content{
    background-color: #fff;
}
h6{
    margin-left: 3.125rem;
    margin-top: 3.125rem;
    color:#5a31fc;
}
h3{
    margin-top: 0.625rem;
    font-weight: bolder;
}
.small{
    margin-left: 3.125rem; 
    margin-top: 0.625rem;  
    font-size:0.7rem;
    font-weight: lighter;
}
.blog-author{
    margin-left: 3.125rem;
    margin-top: 0.625rem;
}
.faq-section{
    background-color: #d0edee;
    display:flex;   
    margin-top: 3.125rem; 
}
.faq-image{
    display:flex;
  justify-content: flex-end;
}
.faq-content{
    margin-left: 5.625rem;
}
h2{
    margin-top: 2.5rem;
    font-size:2rem;
    font-weight:950;
}
h4{
    margin-top: 0.625rem;
    font-size:0.7rem;
    font-weight:300;
}
.n{
    margin-top: 0.625rem;
    font-size:0.7rem;
    font-weight:bold;
}
.btn2{
background-color:#5a31fc;
border-radius: 0.125rem;
color:#fff;
font-weight:400;
border:0.125rem  solid transparent;
margin-top: 1.25rem;
height:2.6875rem;
width:6.625rem;
font-size:1rem;
}
.faq-image{
    margin-left: 15.625rem;
}
.download-section{
    display:flex;
    justify-content: space-between;
    margin-left: 5.625rem;
    margin-top: 3.125rem;
}
h1{
 
    font-size:2rem;
    font-weight:950;
}
span{
 margin-top: 3.125rem;   
 font-weight:100; 
 font-size:950;  
}

form{
    margin-top: 3.75rem;
    margin-left: 28.125rem;
}
input{
    background-color:#d0edee;
    width:26.25rem;
    height:2.8125rem;
    border-radius: 0.75rem;
    border: 0.125rem solid transparent;

}
.buttonIn {
      width: 18.75rem;
      height:9rem;
      position: relative;
      margin-right: 2rem;
}
input {
      margin: 0rem;
      padding: 0rem;
      width: 100%;
      outline: none;
      height: 1.875rem;
      border-radius: 0.3125rem;
}
   
.clear{
      position: absolute;
      top: 0rem;
      border-radius: 3rem;
      right: 0rem;
      z-index: 2;
      border: none;
      top: 0.125rem;
      font-size:1rem;
      height: 1.875rem;
      cursor: pointer;
      color: white;
      background-color: #340fff;
      transform: translateX(0.125rem);
}
.footer-section{
    margin-top: 3.125rem;
    background-color: #340fff;
    display:flex;
    justify-content: space-between;
}
.footer-logo{
    margin-top: 3.125rem;
    margin-left: 5.625rem;
}
.footer-right{
    margin-top: 1.875rem;
    margin-right: 5.625rem;
}
.list{
    display:flex;
    justify-content:space-between;
    color:white;
    list-style: none;
    margin-top: 0.625rem;
    margin-left: 5.625rem;
}
.list-items1{
    margin-left:1.25rem;
}
.item{
    display:flex;
    justify-content:space-between;
    color:white;
    list-style: none;
    margin-top: 0.625rem;
    margin-right: 5.625rem;
}
.blog-content h3{
    margin-left: 3.125rem; 
}
.logo1{
   width:1.43rem;
   height:1.43rem;
}
.logo{
    width:6.875rem;
    height:2.5rem;
}
.rectangle{
  width:5rem;
  height:0.5rem;
}
.image1{
    width:33rem;
    height:33rem;
    float:right;
}
.image2{
    width:39rem;
    height:20rem;
}
.blog-card-bottom-image{
   width:4rem;
   height:4rem;
}
.image4{
    width:2.7rem;
    height:2.7rem;
}
.image5{
    width:20rem;
    height:20rem;
}
.footer-logos{
    width:2.2rem;
    height:2.2rem;
}
.card{
    margin-left: 4.125rem;
}
.card-logo{
  width:2.2rem;
  height:2.2rem;
}
.input{
  width:15rem;
  height:3rem;
}
input::placeholder {
  font-size:1rem;
}
.logo5{
  width:6.875rem;
  height:2.5rem;
  margin-left: 5.625rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 1270px) {
  html {
     font-size:57%;
  }
}
 @media only screen and (max-width: 1074px) {
  html {
     font-size:57%;
  }
}
 @media only screen and (max-width: 998px) {
  html {
     font-size:55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
     font-size:45%;
  }
}
@media only screen and (max-width: 568px) {
  html {
     font-size:35%;
  }
}
@media only screen and (max-width: 468px) {
  html {
     font-size:30%;
  }
}
@media only screen and (max-width: 384px) {
  html {
     font-size:20.5%;
  }
}
@media only screen and (max-width: 268px) {
  html {
     font-size:17%;
  }
}
@media only screen and (max-width: 228px) {
  html {
     font-size:15%;
  }
}
@media only screen and (max-width: 192px) {
  html {
     font-size:11.25%;
  }
}
#preloader{
    background:#000 url(./images/2.gif) no-repeat center center;
    background-size: 17%;
    height:100vh;
    width:100%;
    position:fixed;
    z-index: 100;
}